.header {
  background-color: #000000;
  align-items: center;

}
.conteiner-wrap {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  align-items: center;
  padding: 20px 0;
  flex-wrap: wrap;
  
}
.header-logo {
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.header-logo::after {
  content: "it";
  color: #ec7979;
}

.nav {
  width: 520px;
}
.nav-wrap {
  display: flex;
  justify-content: space-between;
}
.nav-wrap a {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid red;

}
.nav-wrap a:hover {
  color: #ec7979;

}
.main {
   background: url(../pic/background-main\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
    
    
}
.article {
  flex-wrap: wrap;
}
.big-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
  padding-top: 100px;
  margin-bottom: 42px;
  color: #ffffff;
}
.big-title::after {
  content: "it";
  color: #ec7979;
}
.title-header {
  width: 544px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  text-transform: uppercase;
}
.title-header::after {
  content: "";
  display: block;
  width: 64px;
  margin-top: 32px;
  border: 1px solid #ffffff;
  margin-bottom: 39px;
}
.subtitle {
  width: 282px;
  margin-bottom: 39px;
}
.subtitle p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.8);
}
.link {
  width: 135px;
  border: 1px solid #ffffff;
  text-align: center;
  padding: 11px 0;
  margin-bottom: 101px;
}
.link:hover {
  content: "";
  background-color: #ec7979;
  border: 1px solid #ec7979;
  transform: scale(1.1);

}
.link a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  text-transform: capitalize;
}
.aside {
  padding-top: 110px;
  display: block;
}
.form {
  width: 370px;
  background-color: #ffffff;
  border-radius: 7px;
  overflow: hidden;
  
}
.form-item {
  width: 350px;
  padding-left: 59px;
  padding-right: 59px;
  margin-bottom: 30px;

}

.form-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  line-height: 27px;
  padding: 15px;
  margin-bottom: 44px;
}
.form-title-free{
color: #ec7979;
}


.form-item-label-name {
  display: block;
  justify-content: left;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #bdbdbd;
  text-transform: capitalize;

}
.form-item-input-name {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #bdbdbd;

}

.form-item-label-email {
  display: block;
  justify-content: left;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #bdbdbd;
  text-transform: capitalize;
}
.form-item-input-email {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #bdbdbd;

}

.form-item-label-password {
  display: block;
  justify-content: left;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #bdbdbd;
  text-transform: capitalize;
}
.form-item-input-password {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #bdbdbd;
  
}









.button-wrap {
  width: 370px;
  display: flex;
  justify-content: center;
  background-color: #ec7979;
 
 
  
}
.button {
  width: 100%;
  background-color: #ec7979;
  border: none;
  line-height: 20px;
  
  
}
.button a {
  width: 100%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 50px;
  text-transform: capitalize;
  color: #ffffff;
}