@import url("./cdn.css");
@import url("./awesome.css");
@import url("./header.css");
@import url("./pricing.css");
@import url("./customers.css");
@import url("./axure.css");
@import url(".//social.css");
@import url("./footer.css");
@import url("./contact_us.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", "Raleway", sans-serif;
}

.conteiner {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
.title {
  text-align: center;
  width: 670px;
  margin: auto;
  font-size: 36px;
  font-family: "Raleway";
  font-weight: 400;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 34px;
  
  
}
.title:after {
  content: "";
  width: 64px;
  height: 2px;
  background-color: #e72424;
  display: block;
  margin: auto;
  margin-top: 34px;
}

.discription {
  margin: auto;
  text-align: center;
  margin-bottom: 70px;
}
.discription p {
  margin: auto;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 700px;
  line-height: 19px;
  color: #86878b;
}
